.container{
    margin-bottom: 20px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#FF5898 0%,#FF136F 100%);
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.cat1, .cat2 ,.cat3{
padding: 0px 10px;
} 
.cat1{
    background-color: orange;
}
.cat2{
    background-color: purple;
}
.cat3{
    background-color: blue;
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border-top: none !important;
    background-color: white !important;
}
#contact{
    height: 200px;
    padding: 20px;
    
}
#contact h6{
    color: gray;
}